.group-item {
  display: flex;
  padding: 10px;
  margin-bottom: 3px;
  color: white;
  cursor: pointer;

  &__platform {
    flex: 1;
  }

  &__title {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;

    &--title {
      font-size: 1.3em;
      margin-bottom: 10px;
    }

    &--leader {
      font-size: 1em;
    }
  }

  &__membership {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;

    &--membership {
      font-size: 1.3em;
      margin-bottom: 10px;
    }

    &--cost {
      font-size: 1em;
    }
  }

  &__member {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1em;
  }

  &__payday {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1em;
  }
}
