.group-item {
  display: flex;
  padding: 10px;
  margin-bottom: 3px;
  color: white;
  cursor: pointer;
}

.group-item__platform {
  flex: 1;
}
.group-item__title {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: center;
  .group-item__title--title {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  .group-item__title--creator {
    font-size: 1em;
  }
}
.group-item__membership {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  .group-item__membership--membership {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  .group-item__membership--price {
    font-size: 1em;
  }
}
.group-item__member {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1em;
}
.group-item__duration {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1em;
}
