@import '../../base.scss';

.main {
  display: flex;
  flex-direction: column;

  .main__header {
    display: flex;

    margin-bottom: 50px;

    .main__header--tab {
      font-size: 1.8em;
      margin-left: 5px;
      padding: 12px 15px 5px 15px;
      border: 2px solid #3d3d3d;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: none;
      color: #868686;
      cursor: pointer;
    }
    .main__header--placeholder {
      width: 100%;
      border-bottom: 2px solid #3d3d3d;
    }

    .active {
      color: #fcb70d;
      cursor: default;
    }
  }

  .main__group-header,
  .main__content-header {
    display: flex;
    margin-bottom: 30px;
  }

  .main__search {
    width: 100%;
    display: flex;
    align-items: center;

    input {
      width: 50%;
    }

    button {
      display: flex;
      padding: 8px 15px;
      margin-right: 10px;
    }

    .main__search--filter {
      padding: 10px 10px;
    }

    .main__search--search {
      background-color: #fcb70d;
    }
  }

  .main__group-body {
    display: flex;
    flex-direction: column;

    .main__group-body--header {
      display: flex;
      color: #949494;
      border-bottom: 1px solid #171717;
      padding: 0px 10px 5px 10px;
      margin-bottom: 10px;
    }
  }
}
