@import '../../base.scss';
.mypage__info {
    color: white;
    height: 250px;
    background: linear-gradient(
        90deg,
        rgb(255, 60, 60) 10%,
        rgb(252, 183, 13) 100%
      );
    vertical-align: middle;
    padding: 60px 40px 50px 20px;
    h1 {
        font-size: 32pt;
        font-family: $font-title-stack;
        font-weight: bolder;   
        margin-left: 20px;     
    }
    .mypage__info__email {
        display: flex;
        justify-content: right;
        margin-bottom: 20px;
        
    }
    .mypage__info__username {
        display: flex;
        justify-content: right;
    }
    h2 {
        font-size: 20pt;
        font-family: $font-base-stack;
        font-weight: bold;
        width: 200px;
    }
}
.mypage__content {
    display: flex;
    margin-top: 50px;
    h2 {
        color:white;
        font-size:24pt;
        font-family: $font-title-stack;
        font-weight: bolder;
        margin-bottom: 20px;        
    }
    .mypage__grouplist {
        width: 600px;
    }
    hr {
        background: white;
        color: white;
        width: 2px;
        size: 700px;
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .mypage__calendar {
        width:600px;
    }
}
