@import '../../base.scss';

.calendar {
  background-color: white;
  align-self: center;
  padding-top: 5%;
  height: 95%;
  width: 100%;
  flex-shrink: 0;
  .calendar__header {
    margin: 3% 0 7% 0;
    text-align: center;
    vertical-align: middle;
  }
  .calendar__body {
    display: flex;
    .calendar__body__table {
      height: 100%;
      width: 100%;
      margin: 0 0 0 0;
    }
    #previous-button {
      height: 3%;
      width: 3%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-content: middle;
      margin: 15% 1% 0 3%;
    }
    #next-button {
      height: 3%;
      width: 3%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-content: middle;
      margin: 15% 1% 0 3%;
    }
  }
}
.cell {
  width: 10%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
.sunday {
  color: red;
}
.today {
  background-color: red;
  height: 3%;
  width: 2%;
  border-radius: 50%;
  color: white;
}
