@import '../../base.scss';

.calendar {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: 7%;
  margin-bottom: 40px;

  &__header {
    margin: 5% 0 7% 0;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
  }
  &__body {
    display: flex;
    align-items: center;
    &__table {
      height: 100%;
      width: 100%;
      margin: 0;
    }

    #previous-button {
      height: 3%;
      width: 3%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-content: middle;
      margin-left: 2%;
    }

    #next-button {
      height: 3%;
      width: 3%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-content: middle;
      margin-right: 2%;
    }

    .payday {
      display: flex;
      background-color: blue;
      width: fit-content;
      color: white;
      padding: 18%;
      margin: auto;
      border-radius: 50%;
    }

    .payday:hover {
      .group-detail-view {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}
.cell {
  width: 10%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
.sunday {
  color: red;
}

.today {
  background-color: red;
  width: fit-content;
  color: white;
  padding: 18%;
  margin: auto;
  border-radius: 50%;
}

.group-detail-view {
  display: none;
  position: absolute;
  background-color: grey;
  color: black;
  padding: 5px;
  z-index: 1;

  .group-detail {
    display: flex;
    justify-content: space-between;

    &__name {
      margin-right: 20px;
    }
  }
}
