@import '../../base.scss';

.navbar {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 50px 0;

  &__logo {
    margin: auto 0px;
    cursor: pointer;
    font-family: $font-title-stack;
    font-size: 2.55em;
    background: linear-gradient(
      90deg,
      rgb(255, 60, 60) 10%,
      rgb(252, 183, 13) 100%
    );
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__auth {
    display: flex;
    justify-content: space-between;
    color: white;

    &__group {
      cursor: auto;
      display: flex;
      flex-direction: column;
      font-family: 2.55em;

      &__count {
        display: flex;
        justify-content: space-around;
        font-size: 1.1em;
        margin-top: 10px;

        span {
          border-radius: 5px;
          padding: 2px 8px;
        }

        &--not-deleted {
          background-color: #0e9534;
        }

        &--deleted {
          background-color: #ff3c3c;
        }
      }
    }

    &__mypage {
      cursor: pointer;
      font-size: 2.55em;
      margin: 0px 30px;
    }
  }
}
